model_data.zip
data/.DS_Store
data/articles.csv
data/corpus.csv
data/customers.csv
data/transactions_train.csv
model_data/.DS_Store
model_data/customer_id_dict.json
model_data/d2v.model
model_data/d2v.model.dv.vectors.npy
model_data/prod_id_dict.json
data/
model_data/
.DS_Store
weihts/.data-00000-of-00001
weihts/.index
weihts/checkpoint
print.log
logs/events.out.tfevents.1649504909.LIMON.11460.221762.v2
submission.csv
.gitignore
submission.csv.zip
submission_d2v.csv
.gitignore
submission.zip
weihts/collabrative.data-00000-of-00001
weihts/collabrative.index
weights/model1.h5
weights/model2.h5
weights
weihts/collabrative/.data-00000-of-00001
.gitignore
weihts/collabrative/checkpoint
weihts/training1/collabrative.data-00000-of-00001
weihts/training1/collabrative.index
weihts/training1/checkpoint
weihts/collabrative/.index
